.as{
    background-color: darkseagreen;
}
.asd{
    text-align:center;  
}   
.asdf{
    
    bordercolor:lightgreen
      
} 
.a{
    background-color: darkblue; 
    color:white;
    text-align: center;
}
.f{
   background-color: olivedrab;
   text-align: center;
   color:white;
}
.fd{
    background-color: deepskyblue;
    text-align: center;
    color:white;
}
.softblue{
    background-color: aliceblue;
}
.skyblue{
    background-color: skyblue;
}
.ygreen{
    background-color: yellowgreen;
}
.dpink{
    background-color: deeppink;
}
.cyan{
    background-color: cyan;
}
.ored{
    background-color: orangered;
}
.textalign{
    text-align: center;
}
.fds{
    border-color: green;
}
.fdsa{
background-color: orange;
}
    .ffd{
        text-align: center;
    }